# Application Port (Host)
APP_PORT=8081

# Public URL (for NextAuth)
# In production, set this to your domain like https://your-domain.com
NEXTAUTH_URL=http://localhost:8081

# Secret for NextAuth encryption (generate with `openssl rand -base64 32`)
NEXTAUTH_SECRET=changeme

# Database URL (inside container)
DATABASE_URL=file:/app/db/prod.db